body {
  margin: 0;
  height: 100vh;
  background-color: rgba(98, 158, 99, 0.7);
}
.bankuai {
  background-color: rgba(226, 255, 217, 0.4);
}
.biankuang {
  border: 2px solid rgb(60, 60, 60);
}
.center {
  justify-content: center;
  align-items: center;
}

.center1 {
  text-align: center;
  vertical-align: middle;
}

.flex {
  display: flex;
}

.felx1 {
  flex: 1;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.wqy {
  background-color: rgba(0, 140, 255, 0.5);
}
.mgt50 {
  margin-top: 50px;
}
.mgt20 {
  margin-top: 20px;
}
.mg4{
  margin: 4px;
}
.mgtb4{
  margin-top: 4px;
  margin-bottom: 4px;
}
.mgb4{
  margin-bottom: 4px;
}
.mgrl4{
  margin-left: 4px;
  margin-right: 4px;
}
