      body {
        margin: 0;
        height: 100vh;
        background-color: rgba(98, 158, 99, 0.7);
      }
      .biankuang {
        border: 2px solid rgb(60, 60, 60);
      }
      .center {
        justify-content: center;
        align-items: center;
      }

      .center1 {
        text-align: center;
        vertical-align: middle;
      }

      .flex {
        display: flex;
      }

      .felx1 {
        flex: 1;
      }

      .column {
        flex-direction: column;
      }

      .row {
        flex-direction: row;
      }

      .wqy {
        background-color: rgba(0, 140, 255, 0.5);
      }

      .mg50 {
        margin: 50px;
      }

      .mgr50 {
        margin-right: 50px;
      }

      .mgl50 {
        margin-left: 50px;
      }

      .mgt50 {
        margin-top: 50px;
      }

      .mgt20 {
        margin-top: 20px;
      }

      .mga {
        margin-top: auto;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid rgb(0, 63, 113);
      }

      tr:hover {
        background-color: #f5f5f5;
      }

      a:link,
      a:visited {
        background-color: rgb(240, 240, 240, 0.3);
        color: black;
        border: 2px solid green;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }

      a:hover,
      a:active {
        background-color: green;
        color: white;
      }